MONGO_URL=mongodb+srv://<db_username>:<db_password>@mycluster.8fw2a.mongodb.net/?retryWrites=true&w=majority&appName=MyCluster
PORT=3000

REDIS_HOST=redis-<redis_port>.crce176.me-central-1-1.ec2.redns.redis-cloud.com
REDIS_PORT=<redis_port>
REDIS_PASSWORD=<redis_password>

JWT_SECRET=<your_jwt_secret>
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

GOOGLE_CLIENT_ID=<your_google_client_id>
GOOGLE_CLIENT_SECRET=<your_google_client_secret>

STRIPE_SECRET_KEY=
OPENAI_API_KEY=
API_URL=http://localhost:3000/api
